* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    font-weight: 300;
    flex-direction: column;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
    height: 100%;
}



.bloghead {
    font-size: 3rem;
    margin-top: 100px;
    padding: 20px;
}


.addbtn {
    font-size: 2.2rem;
    margin-top: 10px;
    margin: 10px 5px 10px;

}

.blog_posts h5 {
    font-size: 3rem;
}

.blog_posts p {
    font-size: 2rem;
}

.newblog {
    margin-top: 100px;
}


.footer {
    width: 100%;
    line-height: 5rem;
    /* display: flex; */
    background-color: #0a183d;
    margin-top: auto;

}

.footer p {
    color: white;
    text-align: center;
    /* justify-content: center; */
}