* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    font-weight: 300;
    flex-direction: column;
    min-height: 100vh;
}

html {
    /* font-size: 59.5%; */
    height: 100%;
}



.bloghead {
    font-size: 3rem;
    margin-top: 100px;
    padding: 20px;
}


.addbtn {
    font-size: 1.5rem;
    margin-top: 10px;
    margin: 10px 5px 10px;

}

.blog_posts h5 {
    font-size: 1rem;
}

.blog_posts p {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
    /* padding: 20px 10px; */
}

.newblog {
    margin-top: 100px;
}

/* from style */

.form-group label {
    margin-top: 20px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.savebtn {
    font-size: 1rem;
    margin-top: 20px;

}

.footer {
    width: 100%;
    line-height: 5rem;
    /* display: flex; */
    background-color: #0a183d;
    margin-top: auto;

}

.footer p {
    color: white;
    text-align: center;
    /* justify-content: center; */
}