<%- include("partials/header.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto mb-4">
            <h1 class="newblog"> New Blogs</h1>

            <form action="/" method="POSTS">
                <%- include("form_feild.ejs") %>

            </form>
        </div>
    </div>

</div>


<%- include("partials/footer.ejs") %>